html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template: repeat(6, 2fr) / repeat(6, 2fr);
}

.dashboard {
  background-color: #1da1f2;
  grid-area: 1 / 1 / 8 / 1;
}

.header {
  background-color: white;
  grid-area: 1 / 2 / 2 / 7;
  filter: drop-shadow(0px 4px 4px gray);
}

.middle {
  background-color: whitesmoke;
  grid-area: 2 / 2 / 8 / 7;
}
