html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
  display: grid;
  grid-template: repeat(6, 2fr) / repeat(6, 2fr);
}

.dashboard {
  background-color: #868B8E;
  grid-area: 1 / 1 / 8 / 1;
  display: grid;
  grid-template: repeat(16, 1fr) / repeat(6, 1fr);
}

.header {
  background-color: #E7D2CC;
  grid-area: 1 / 2 / 2 / 7;
  box-shadow: 0 4px 4px -2px black;
}

.middle {
  background-color: #EEEDE7;
  grid-area: 2 / 2 / 8 / 7;
  display: grid;
  grid-template: repeat(6, 1fr) / repeat(5, 1fr);
}

.middle-header {
  position: relative;
  padding-left: 12%;
  grid-area: 1 / 1 / 1 / 1;
}

.projects {
  padding-top: 2%;
  grid-area: 1 / 1 / 7 / 5;
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, 1fr);
}

.projects > div {
  margin: 8%;
  background-color: #B9B7BD;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 4px black);
  padding: 5%;
}

.right {
  grid-area: 1 / 5 / 7 / 6;
  display: grid;
  grid-template: repeat(20, 1fr) / repeat(1, 1fr);
}

.announcements-header {
  position: relative;
  margin: 0;
  margin-top: 7%;
  padding-left: 15%;
  grid-area: 1 / 1 / 1 / 1;
}

.announcements {
  background-color: #d0bcab;
  grid-area: 2 / 1 / 10 / 1;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  padding: 5%;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 4px gray);
}

.trending-header {
  margin: 0;
  margin-top: 2%;
  padding-left: 15%;
  grid-area: 11 / 1 / 11 / 1;
}

.trending {
  background-color: #d0bcab;
  grid-area: 12 / 1 / 20 / 1;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
  padding: 5%;
  border-radius: 10px;
  filter: drop-shadow(4px 4px 4px gray);
}
